{% extends "master.html" %}

{% block body %}
     <div class="blog-header">
        <h1 class="blog-title">Contact to me</h1>
        <p class="lead blog-description">send a message to Jhona22baz.</p>
    </div>
    
    <div class="col-sm-8 blog-main">
        <form class="form-horizontal" role = "form" action = "{{url_for('contact')}}" method=post>
            {{ form.hidden_tag() }}
            
            <div class="form-group {% if form.name.errors %} has-error {% endif %}" >
                {{ form.name.label (class="col-sm-2") }}
                <div class="col-sm-10">
                    {{form.name (placeholder = "e.g. Jhonatan Bazaldua",class = "form-control") }}
                    <p class="col-sm-10 help-block">
                        {{ form.name.errors[0] }}
                    </p>
                </div>
            </div>
            
            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                {{ form.email.label (class="col-sm-2") }}
                <div class="col-sm-10">
                    {{ form.email (placeholder = "e.g. jhona.22.baz@gmail.com",class = "form-control")}}
                    <p class="col-sm-10 help-block">
                        {{ form.email.errors[0] }}
                    </p>
                </div>
            </div>
            
            <div class="form-group {% if form.subject.errors %} has-error {% endif %}">
                {{ form.subject.label (class="col-sm-2") }}
                <div class="col-sm-10">
                    {{ form.subject (placeholder = "e.g. conocerte",class = "form-control")}}
                    <p class="col-sm-10 help-block">
                        {{ form.subject.errors[0] }}
                    </p>
                </div>
            </div>
            <div class="form-group {% if form.message.errors %} has-error {% endif %}">
                {{ form.message.label (class="col-sm-2") }}
                <div class="col-sm-10">
                    {{ form.message (placeholder = "e.g. your are so cool",class = "form-control")}}
                    <p class="col-sm-10 help-block">
                        {{ form.message.errors[0] }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit (class="btn btn-default")}}
                </div>
            </div>
        </form>
    </div><!-- /.blog-main -->
    
{% endblock %}